

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.break {
  border-bottom: dashed;
  border-top: none;
  border-right: none;
  border-left: none;
}

.jumbotron {
	background-image: url("../img/bg.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

pre code {
  display: block;
  padding: 0.5em;
  background: #23241f;
}
pre .tag,
pre code {
  color: #f8f8f2;
}

.subotron{
  width:75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



.footer {
  text-align: center;
  float: center;
}








