

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.jumbotron {
	background-image: url("../suchBackground.png");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}














