

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.jumbotron {
	background-image: url(http://dogewidget.bitmindo.com/images/bg.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}













